.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBlock {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 12px;
}
